tmp/
log/development.log
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/build
/dist
.DS_Store
/tags
app/Config/database.php
*.swp
*.log
db/development.sqlite3
public/assets
.rbenv-gemsets
.ruby-version
.idea/
db/test.sqlite3
db/test.sqlite3-journal
