$red:#e9593e;
$yellow:#ffc207;
$green:#55aa2b;
$gray:#4e4e4e;

*{
	font-family: Arial;
}

body {
	position: absolute;
	top: -8px;
	left: -8px;
	overflow: hidden;
}

.vertical-divider{
	display:none;
}

  /********************************************/
 /*                  TOP NAV                 */
/********************************************/

#top-bar {
	display:none
}


  /********************************************/
 /*                 LEFT NAV                 */
/********************************************/

#left-nav{
	display:none
	}

  /********************************************/
 /*                MID SUMMARY               */
/********************************************/

/* General */
#mid-summary{
	display:none
}



  /********************************************/
 /*               Right Detail               */
/********************************************/

/*     object form     */
	
#object-form_top{
	padding:20px 15px 20px 15px;
	height: 295px;

	#object-form-left{
		float: left;
		width: 55%;
		height: 130px;
		line-height: 12px;

		.field-box{
			width: 100%;
			height: 40px;
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			margin:-1px -5px 0px 0px;

			.field-type{

				float:left;
				font-size: 10px;
				color: #a7a7a7;
				padding-left: 10px;
				padding-top: 18px;

			}

			.field-info{
				float:left;
			   	overflow: hidden;
			   	background-color: #fff;
			   	padding-top:12px;
			   	padding-left:10px;
			   	font-size: 12px;

			   	#requester{
			   		padding-top:3px;
			   	}

				select{
					background: transparent;
					color: #000000;
				   	width: inherit;
				   	border: 0;
				   	border-radius: 0;
				   	height: 20px;
				   	-webkit-appearance: none;
				}
			}
		}

		.small{
			float: left;
			width:51%;
		}


	}

	#object-form-right{
		display: inline-block;
		margin-left: 2%;
		width:40%;
		height: 130px;
		#field-box_item-id{
			width: 100%;
			height: 40px;
			background-color: #323a45;
			border: 1px solid;
			border-radius: 2px;
			.item-id{
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				margin-left: 11px;
				margin-top: 11px;
			}
		}
		#object-status-field{
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			height: 25px;
			width: 100%;
			margin-bottom: 10px;

			select{
				text-transform: uppercase;
				text-align: center;
				margin-top: 3px;
				padding-left: 30px;
				padding-right:25px;
				border: 0px;
				font-size: 9px;
				background-color: transparent;
				float:left;
				-webkit-appearance: none;
			}

			a{
				float:left;
			}

			.object_form_icons {
				margin-top: 4px;
				margin-left: 4%;
				margin-right: 4%;

				float:right;

				
				background-size: 100%;
				width: 14px;
				height: 14px;
				display:block;
			}

			#print-button_right{
				@extend .object_form_icons;
				background-image: url(image_path('right/printericon.png'));
			}

			#archive-button_right{				
				@extend .object_form_icons;
				background-image: url(image_path('right/archiveicon.png'));				
			}
		}
		.actions{
			input[type=submit] {
				height: 40px;
				width: 100%;
				padding:5px 15px; 
				background:#77ccbf;
				border:0 none;
				cursor:pointer;
				-webkit-border-radius: 3px;
				border-radius: 5px; 

				color: white;
				letter-spacing: 1px;
				font-weight: 600;
				font-size: 15px;
			}
			input[type=submit]:hover{
				color: black;
			}
		}

	}

	#object-form-bottom{
		display: block;

		.field-box-date{
			float: left;
			width: 25%;
			height: 40px;
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			margin:-1px -5px 0px 0px;

			.field-type{

				font-size: 8px;
				color: #a7a7a7;
				padding-left: 10px;
				padding-top: 4px;
			}

			.field-info{
				width: 100%;
			   	height: 20px;
			   	overflow: hidden;
			   	background-color: #fff;
			   	margin-top:-6px;
				color: #000000;
				font-size: 10px;
				padding-left:10px;
				select{
					background: transparent;
				   	width: auto;
				   	border: 0;
				   	border-radius: 0;
				   	height: 20px;
				   	-webkit-appearance: none;
				}
			}

		}

		.field-box-description{
			float: left;
			width: 97%;
			height: 70px;
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			margin-top: 10px;

			.field-type{
				color: white;
				font-size: 8px;
				color: #a7a7a7;
				padding-left: 10px;
				padding-top: 7px;

			}

			.field-info{
				width: inherit;
			   	height: 20px;
			   	background-color: #fff;
			   	margin-top:-3px;
				textarea{
					background: transparent;
					color: #000000;
					font-size: 10px;
					margin-left:10px;
				   	width: inherit;
				   	border: 0;
				   	border-radius: 0;
				   	height: 40px;
				   	-webkit-appearance: none;
				   	resize: none;
				}
			}
		}
	}

	#object-form-single-col{
		float: left;
		height: 130px;
		line-height: 12px;
		width: 100%;

		#field-box_item-id{
			width: 100%;
			height: 40px;
			background-color: #323a45;
			border: 1px solid;
			border-radius: 2px;
			.item-id{
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				margin-left: 11px;
				margin-top: 11px;
			}
		}

		.actions{
			input[type=submit] {
				height: 40px;
				width: 100%;
				padding:5px 15px; 
				background:#77ccbf;
				border:0 none;
				cursor:pointer;
				-webkit-border-radius: 3px;
				border-radius: 5px; 

				color: white;
				letter-spacing: 1px;
				font-weight: 600;
				font-size: 15px;
			}
			input[type=submit]:hover{
				color: black;
			}
		}

		.field-box{
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			margin:0px -5px 0px 0px;

			.field-type{

				font-size: 12px;
				color: #a7a7a7;
				padding-left: 10px;
				padding-top: 7px;

			}

			.field-info{
			   	overflow: hidden;
			   	background-color: #fff;
			   	margin-top:0px;
				
				input, select, textarea{
					background: transparent;
					color: #000000;
					font-size: 12px;
					padding-left:10px;
				   	border: 0;
				   	border-radius: 0;
				   	-webkit-appearance: none;
				   	resize: none;
				}
				textarea{
					width: 100%;
					resize: none;
				}
				p {
					background: transparent;
					color: #000000;
					font-size: 12px;
					padding-left:10px;
				   	width: inherit;
				   	border: 0;
				   	border-radius: 0;
				   	-webkit-appearance: none;
				}
			}
			
		}
	}
}

/*     object add-info     */
#object_extra-details{
	background-color: $gray;
	overflow-y: scroll;
	position : relative;
	//http://stackoverflow.com/questions/14327104/any-way-for-positionabsolute-div-to-retain-relative-width

	.extra-details_navigation{
		background-color: $gray;
		padding: 0px;
		margin: 0px;
		width:100%;
		height: 40px;
		li {
			float:left;
			a{
				display:block;
				width:40px;
				height:40px;
				color:#fff;
				outline:none;
				text-decoration:none;
				text-indent: -9999em;
			}
		}
		#detail-icon{
			background-image: url(image_path('right/detail_icon.png'));
		}
		#comment-icon{
			background-image: url(image_path('right/chat_icon.png'));
		}
		#cost-icon{
			background-image: url(image_path('right/cost_icon.png'));
		}
		#labor-icon{
			background-image: url(image_path('right/laborhours_icon.png'));
		}
	}

}


.transparent-form-elem {
	background: transparent;
	padding:2px;
	border: 0;
   	border-radius: 0;
   	-webkit-appearance: none;
}

.extra-detail_formstyle {
	float:left;
	textarea{
		@extend .transparent-form-elem;
		color: #ebebeb;
		font-size: 12px;
	   	width: 100%;		   	
	   	height: 50px;		   	
	   	resize: none;
	}
	input{
		@extend .transparent-form-elem;
		color: #ebebeb;
		font-size: 12px;
		width: 100%
	}
	select {
		@extend .transparent-form-elem;
		color: #ebebeb;
	}
}

.extra-details-box{
	width: 100%;
	@extend .extra-detail_formstyle;

	.field-type{
		color: white;
		font-weight: 700;
	}

}

.extra-details_content{
	padding-left : 10px;
}


.tab-navigation-buttons{
	list-style: none;
	padding-left: 15px;
	margin-top: 14px;
	margin-bottom: 18px;
	li{
		float:left;
		margin-right: 8px;
	}
}

.extra-details_title{
	margin-top: 10px;
	margin-bottom:10px;
	font-size: 15px;
	font-weight:100;
	color: #bebebe;
}

#extra-details_comment_ul{
	color:#ebebeb;
	font-size:11px;
	list-style-type:none;
	padding:0;
	border:0;
	margin-left:0px;
	word-wrap : break-word;
	li{
		margin-bottom:7px;
	}
}

#cost, #comment, #labor{
	display:none;
}

  /********************************************/
 /*              INTERACTION BAR             */
/********************************************/

#top-bar{
	display:none;
}
