<% for facility_work_request in @facility_work_requests.each do %>
	<div>
		ID: <%= facility_work_request.id %>
	</div>
	<div>
		Requester: <%= facility_work_request.requester %>
	</div>
	<div>
		<%= facility_work_request.description[0...50] + ". . ." %>
	</div>
	<div>
		<%= link_to @language['Show'], facility_work_request %>
	</div>
<% end %>