 <%= link_to '', @facility_work_order, method: :delete, data: { confirm: @language['Are you sure?'] }, :id => "delete-button2"%>

<div>
<%= render :partial => 'object_view' %>
</div>

<div>
	<%= render :partial => 'object_edit' %>
</div>

<div>
	<%#= render :partial => 'facility_work_orders/object_convert' %>
</div>
