<%= render :partial => 'interaction_bar', :layout => 'layouts/topbar' %>

<%= render :partial => 'main_list', :layout => 'layouts/col3' %>

<div class="vertical-divider"></div>

<%= render :partial =>'object_new', :layout =>'layouts/col2' %>


