<%= render :partial => 'interaction_bar', :layout => 'layouts/topbar' %>

<%= render :partial => 'main_list', :layout => 'layouts/col2' %>

<div class="vertical-divider"></div>

<%= render :partial =>'blank_box', :layout =>'layouts/col3' %>
