<div>
  <ul>
    <% @facility_costs.each do |facility_cost| %>
      <li class="facility_work_order_comment">
        <div class="cost-name">
          <%= facility_cost.name :value => Name: %>
        </div>
        <div class="cost-quantity">
          Quantity: <%= facility_cost.unit_quantity %> units
        </div>
        <div class="cost-cost">
          Cost: $<%= facility_cost.cost %>
        </div>
        <div class="cost-total">
          Total: $<%= facility_cost.unit_quantity * facility_cost.cost %>
        </div>
      </li>
    <% end %>
  </ul>
</div>