<li class="facility_cost">
  <span class="cost-name"><%= facility_cost.name %></span>
  <span class="cost-quantity"><%= facility_cost.unit_quantity %></span>
  <span class="cost-cost">$<%= facility_cost.cost %></span>
  <span class="cost-total">$<%= facility_cost.unit_quantity * facility_cost.cost %></span>
  </span>
</li>