<h1><%#= t(:edit).capitalize t(:work_request).titlecase t(:comment).capitalize %></h1>

<%= render 'form' %>

<%= link_to t(:show).capitalize, @bmet_work_order_comment %> |
<%= link_to t(:back).capitalize, bmet_work_order_comments_path %>
