<div class="admin_navigation">
	<ul>
		<li>
			<%= link_to "Print Tags", admin_print_tags_form_path %>			
		</li>		
		<li>
			<%= link_to "List/Create Facilities", admin_facilities_path %>
		</li>
	</ul>

</div>