<<<<<<< HEAD
<h1><%=@language['New Work Request']%></h1>
=======
<h1><%= @language['Add New Work Request'] %></h1>
>>>>>>> 87e4e3476447da95beeccb743493e0f27f4f8177

<%= render 'form' %>

<%= link_to @language['Back'], work_requests_path %>
