<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
<% javascript_include_tag "welcome" %>


<input name='username'></input>
<input type=password name='password'></input>
<button id=button>
    <%= @language['Login'] %>
</button>