<li class="facility_labor_hour">  	  

  	<div class="labor_hour-technician">
  		<%= facility_labor_hour.technician.name %>
  	</div>
  	<div class="labor_hour-detail">
  		<span class="labor_hour-date"><%= facility_labor_hour.date_started.try(:strftime,"%^b %d, %Y") %></span>
  		<span class="labor_hour-duration"><%= facility_labor_hour.duration %></span>
  	</div>
	<%= link_to 'X', facility_labor_hour, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
