<li class="facility_labor_hour">
  <span class="labor_hour-date_started"><%= facility_labor_hour.date_started %></span>
  <span class="labor_hour-duration"><%= facility_labor_hour.duration %></span>
  <span class="labor_hour-technician"><%= facility_labor_hour.technician_id %></span>
</li>