<li class="facility_work_order_cost">
  <div class="cost-name">
  	<%= bmet_cost.name %>
  </div>

  <div class="cost-detail">
	  <span class="cost-quantity"><%= bmet_cost.unit_quantity %></span> X
	  <span class="cost-cost">$<%= bmet_cost.cost %></span> &#61;
	  <span class="cost-total">$<%= bmet_cost.unit_quantity * bmet_cost.cost %></span>
	  </span>
  </div>
</li>