<li class="facility_labor_hour">  	  

  	<div class="labor_hour-technician">
  		<%= bmet_labor_hour.technician.name %>
  	</div>
  	<div class="labor_hour-detail">
  		<span class="labor_hour-date"><%= bmet_labor_hour.date_started.try(:strftime,"%^b %d, %Y") %></span>	
  		<span class="labor_hour-duration"><%= bmet_labor_hour.duration %></span>
  	</div>
</li>
