<!--fill in with names of boxes-->
<div id="object_additional-details">

<%= render :partial => 'facility_work_order_comments/comment_box' %>

<%= render :partial => 'facility_costs/cost_summary' %>

<%= render :partial => 'facility_labor_hours/labor_summary' %>
bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>bello<br>
</div>