<!--fill in with names of boxes-->
<div id="object_additional-details">

<ul class="">
  <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
  <li><a href="#comment" data-toggle="tab">Comment</a></li>
  <li><a href="#cost" data-toggle="tab">Cost</a></li>
  <li><a href="#labor" data-toggle="tab">Labor Hours</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="details">
  	
  </div>
  <div class="tab-pane" id="comment">
  	<%= render :partial => 'facility_work_order_comments/comment_box' %>
  </div>
  <div class="tab-pane" id="cost">
	<%= render :partial => 'facility_costs/cost_summary' %>  	
  </div>
  <div class="tab-pane" id="labor">
  	<%= render :partial => 'facility_labor_hours/labor_summary' %>
  </div>
</div>

</div>






