$red:#e9593e;
$yellow:#ffc207;
$green:#55aa2b;
$gray:#4e4e4e;

*{
	font-family: Arial;
}

body {
	position: absolute;
	top: -8px;
	left: -8px;
	overflow: hidden;
}

.vertical-divider{
}

  /********************************************/
 /*                  TOP NAV                 */
/********************************************/

#top-bar {
	display:none;
}


  /********************************************/
 /*                 LEFT NAV                 */
/********************************************/

#left-nav{
	display:none;
}


/*   End   */

//.scrollable{
//	margin-top: 60px;
//	font-size: 1em;
//	z-index: 1;
//	overflow: auto;
//}

  /********************************************/
 /*                MID SUMMARY               */
/********************************************/

/* General */

#mid-summary_ul {
	margin: 0px;
	padding: 0px;
	list-style:none;

	a {
		text-decoration: none;

		.mid-summary_ul_li {
			height: 50px;
			width: 400px;

			.right-arrow{	
				float: right;
				padding-right: 10px;
				padding-top:22px;
			}

			.due_date > *{
				line-height: 13px;
			}
		}

		.mid-summary_ul_li:hover {
			background-color: #afafaf;
		}

		.mid-summary_ul_li > *{
			float:left; 
			display:inline
		}

		.mid-summary_ul_li_hr{
			color: #c7c7c7;
			background-color: #c7c7c7;
			position:relative;
			padding: 0px;
			border: 0px;
			margin: 0px;
			height: 1px;
		}
	}	

	.mid-summary_ul_li {

		.element_details{
			margin-left: 15px;
			
			.element_title{
				font-weight: bold;
				font-size: 12px;
				color: #5c5c5c;
				margin: 0px;
			}

			.element_requester{
				font-size: 10px;
				color: #a1a1a1;
				margin-top: -2px;
			}
			
			.element_owner{
				font-size: 10px;
				color: #a1a1a1;
				margin-top: -12px;
				margin-bottom: 0px;
			}

			.element_description{
				font-size: 10px;
				color: #a1a1a1;
				margin-top: -7px;
			}
		}

		.element_date{
			float: right;
			width: 45px;
			font-size: 12px;
			color: #a1a1a1;
			padding-top: 9px;
			margin-right: 10px;
			margin-left: 10px;
			text-align: center;
			color: #8b8b8b;
			font-weight: 800;

			.element_date_title{
				font-size: 6px;
				margin-bottom: 0px;
				color: #a1a1a1;
				font-weight: 300;
			}
		}
	}



}

@mixin status-bar($color){
	background-color: $color;
	height:50px;
	width:10px;
}
/*   Color Status Updates   */
.status-0{
	@include status-bar($red);
}
.status-1{
	@include status-bar($yellow);
}
.status-2{
	@include status-bar($green);
}
.status-text-0{
	margin-left: 0px;
	height: 50px;
	width: 250px;
	color: #a1a1a1;
	font-size: 10px;
	margin-top: -4px;
}

.status-text-1{
	margin-left: 0px;
	height: 50px;
	width: 250px;
	color: #a1a1a1;
	font-size: 10px;
	margin-top: -4px;
}

.status-text-2{
	margin-left: 0px;
	height: 50px;
	width: 250px;
	color: #a1a1a1;
	font-size: 10px;
	margin-top: -4px;
}

/* Work Order */
#mid_facility-work-order{
	.element_details{
		.element_title {
			padding-top: 4px;
		}
	}	
}

/* PM */
#mid_facility-preventative-maintenance{

	.element_details{
		.element_title {
			padding-top: 10px;
		}
	}
}
/* BMET ITEM */
#mid_bmet-item{

	.element_details{
		.element_title {
			padding-top: 10px;
		}
	}
}


/* Inbox */

#mid_facility-work-request{
	.bullet-bar{
		background-color: #a1a1a1;
		height: 120px;
		width: 10px;
	}

	#mid-summary_ul > a > .mid-summary_ul_li > .request_details{
		margin-left: 15px;

		.request_id{
			padding-top: 14px;
			font-weight: bold;
			font-size: 12px;
			color: #5c5c5c;
			margin: 0px;
		}
		.request_info{
			font-size: 11px;
			color: #5c5c5c;
			margin-top: -1px;
		}
		.request_description{
			font-size: 10px;
			color: #a1a1a1;
			margin-top: -8px;
			width: 80%;
		}
	}

	#mid-summary_ul > a > .mid-summary_ul_li {
		height: 120px;
		width: 400px;
	}

	#mid-summary_ul > a > .mid-summary_ul_li > .right-arrow{	
		float: right;
		padding-right: 10px;
		padding-top:58px;
	}

	#mid-summary_ul > a > .mid-summary_ul_li > .request_date{
		float: right;
		font-size: 12px;
		color: #a1a1a1;
		padding-top: 42px;
		margin-right: 10px;
		margin-left: 10px;
		text-align: center;
		color: #8b8b8b;
		font-weight: 800;
	}

	#mid-summary_ul > a > .mid-summary_ul_li > .pm_date > .work_date_title{
		font-size: 6px;
		margin-bottom: -7px;
		color: #a1a1a1;
		font-weight: 300;
	}

}






  /********************************************/
 /*               Right Detail               */
/********************************************/

#right-detail{
	display:none
}




  /********************************************/
 /*              INTERACTION BAR             */
/********************************************/



#top-bar{
	display:none
}