/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require vis
 *= require_tree ./Application
 *= require chosen.min.css
  */

@import "bootstrap";

$med-green: rgb(166, 192, 190);

header {
    background: $med-green;

    a {
        display: inline-block;
        text-decoration: none;
        padding: 1.5em 1.5em;
        color: #000;
        transition: color 0.2s;

        &:last-child {
            float: right;

        }

        &:visited {
            color: #000;

        }

        &:hover {
            background: rgba(0, 0, 0, 0);
            color: #eee;

        }

    }

}

#main {
    margin: 0 auto;
    padding: 1em;
    width: 960px;

}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

/*
table {
    border-collapse: collapse;

    th, td {
        padding: 10px 10px;

    }

    th {
        text-align: left;
        background: $med-green;

    }
    
    tr:nth-of-type(2n) {
      background: lighten($med-green, 23%);

    }

    td {
      padding: 2px 10px;

      &:not(:last-child) {
          border-right: 1px solid $med-green;

      }

    }

}
*/




