*{
	font-family: Arial;
}

body {
	position: absolute;
	top: -8px;
	left: -8px;
	overflow: hidden;
}

.vertical-divider{
	border-left: thin solid #c7c7c7;
	height: 10000px;
	width: 1px;
	float: left;
}

  /********************************************/
 /*                  TOP NAV                 */
/********************************************/

#top-bar {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #4e4e4e;
	margin-left: 240px;
	z-index: 4;
}


  /********************************************/
 /*                 LEFT NAV                 */
/********************************************/

#left-nav{
	position:fixed;

	background-color: #77ccbf;

	height: 101%;
	width: 240px;

	z-index: 4;
}

#left-nav > * {
	margin: 0px;
}

#left-nav > #logo {
	background-image:url(image_path('logo.png'));
	background-size: 118px;
	background-position: center;
	background-repeat: no-repeat;

	width: 240px;
	height: 150px;
}

#left-nav > #login {

	background-color: #64b1a5;

	width: 240px;
	height: 50px;
}

#left-nav > #left-nav_ul {
	
	padding: 0px;
	list-style: none;
}

#left-nav > #left-nav_ul > hr {
	color: #64b1a5;
	background-color: #64b1a5;
	position:relative;

	padding: 0px;

	border: 0px;

	margin: 0px;

	width: 240px;
	height: 1px;

}

#left-nav > #left-nav_ul > a {
	margin: 0;
	padding: 0;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li {
	width: 240px;
	height: 60px;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li:hover {
	background-color: #2a7368;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > #work-order-icon{
	float: left;
	background-image: url(image_path('left/workorder.png'));
	background-repeat: no-repeat;
	background-size: 12px;
	height: 13px;
	width: 13px;
	margin-left: 20px;
	margin-top: 24px;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > #preventative-maintenance-icon{
	float: left;
	background-image: url(image_path('left/preventativemaintenance.png'));
	background-repeat: no-repeat;
	background-size: 12px;
	height: 13px;
	width: 13px;
	margin-left: 20px;
	margin-top: 24px;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > #inbox-icon{
	float: left;
	background-image: url(image_path('left/inbox.png'));
	background-repeat: no-repeat;
	background-size: 12px;
	height: 13px;
	width: 13px;
	margin-left: 20px;
	margin-top: 24px;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > .wrapper{
	float: left;
	padding-left: 13px;

}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > .wrapper > .title {
	font-weight: 100;
	font-size: 12px;
	letter-spacing: .5px;

	margin-top: 22px;

	color: white;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > .right-arrow {
	float: right;
	padding-right: 10px;
	padding-top: 28px;
}



/*   End   */

.scrollable{
	margin-top: 60px;
	font-size: 1em;
	z-index: 1;
	overflow: auto;
}

  /********************************************/
 /*                MID SUMMARY               */
/********************************************/


#mid-summary{
	float: left;
	margin-left: 240px;
	height: 100%;
	width: 400px; 
	background-color: #f9f9f9;
	overflow-x: hidden;
}

#mid-summary_ul {
	margin: 0px;
	padding: 0px;
	list-style:none;
}

#mid-summary_ul > a{
	text-decoration: none;
}


#mid-summary_ul > a > .mid-summary_ul_li {
	
	height: 50px;
	width: 400px;
}


#mid-summary_ul > a > .mid-summary_ul_li:hover {
	background-color: #afafaf;
}

#mid-summary_ul > a > .mid-summary_ul_li > *{
	
	float:left; 
	display:inline
}

#mid-summary_ul > a > .mid-summary_ul_li > .details{
	margin-left: 15px;
}

#mid-summary_ul > a > .mid-summary_ul_li > .details > .order_id{
	padding-top: 4px;
	font-weight: bold;
	font-size: 12px;
	color: #5c5c5c;
	margin: 0px;
}

#mid-summary_ul > a > .mid-summary_ul_li > .details > .order_requester{
	font-size: 10px;
	color: #a1a1a1;
	margin-top: -5px;
}

#mid-summary_ul > a > .mid-summary_ul_li > .details > .order_owner{
	font-size: 10px;
	color: #a1a1a1;
	margin-top: -15px;
	margin-bottom: 0px;
	
}

/*   Color Status Updates   */
.status-0{
	background-color: #e9593e;
	height: 50px;
	width: 10px;
}

.status-1{
	background-color: #ffc207;
	height: 50px;
	width: 10px;
}

.status-2{
	background-color: #55aa2b;
	height: 50px;
	width: 10px;
}

/*#mid-summary_ul > a > .mid-summary_ul_li > .due_date{
	float: right;
	font-size: 10px;
	color: #a1a1a1;
	padding-top: 6px;
	margin-right: 10px;
	text-align: right;
}*/

#mid-summary_ul > a > .mid-summary_ul_li > .order_date{
	float: right;
	font-size: 12px;
	color: #a1a1a1;
	padding-top: 9px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	color: #8b8b8b;
	font-weight: 800;
}

#mid-summary_ul > a > .mid-summary_ul_li > .order_date > .order_date_title{
	font-size: 6px;
	margin-bottom: -7px;
	color: #a1a1a1;
	font-weight: 300;
}

#mid-summary_ul > a > .mid-summary_ul_li > .due_date > *{
	line-height: 13px;
}

#mid-summary_ul > a > .mid-summary_ul_li > .right-arrow{	
	float: right;
	padding-right: 10px;
	padding-top:22px;
}

#mid-summary_ul > a > .mid-summary_ul_li_hr{
	color: #c7c7c7;
	background-color: #c7c7c7;
	position:relative;
	padding: 0px;
	border: 0px;
	margin: 0px;
	width: 240px;
	height: 1px;
}

  /********************************************/
 /*               Right Detail               */
/********************************************/

#right-detail{
	float: right;
	height: 100%;
	width: 400px; /*to be set by javascript */
	background-color: #f9f9f9;

}

#object-view{
	display:none;
}


/*     object form     */
	
#object-form{
	padding:15px;
}

/*left*/

#object-form-left{
	/*display: none;*/
	
	display:inline-block;
	width: 55%;
	line-height: 12px
}

#delete-button2{
	background-image: url(image_path('top/trashicon.png'));
	width: 23px;
	height: 22px;
	display:block;

}

.item-id{
	font-size:24px;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 10px;
	float: left;
}

textarea#facility_work_order_item{
	display: inline;
	font-size: 24px;
	border: 0px;
	width: 44%; /*should be set by js*/
	height: 30px;
	
}

.item-info{
	margin-top: -9px;
	font-size: 12px;
	font-weight: bold;

}

.item-info > .field{
	margin-bottom: 4px;
}

.item-info > .field > *{
	border: none;
	-webkit-appearance: none;
}

.item-info > .field > input{
	border: none;
	display:inline;
}

.item-info > .field > select{
	font-size: 11px;
	font-weight: 100;
}

.item-info > .field > textarea{
	border: none;
	width: 100%;
	height: 50px;
	line-height: 11px;
	font-size: 11px;
	font-weight: 100;
}

#object-form-right{
	display: inline-block;
	text-align: right;
	width:35%;
}

  /********************************************/
 /*              INTERACTION BAR             */
/********************************************/

#top-bar{
	color: #bababa;
}

#top-bar > #left-top{
	margin-top: 23px;
	margin-left: 15px;
	font-size: 11px;
	width: 40%;
}

#top-bar > #left-top > *{
	float:left;
}

#top-bar > #left-top > #top-dropdown{
	display: block;
	vertical-align: middle;
	padding-top: 1px;
}

#top-bar > #left-top > #top-dropdown > *{
	display: inline;
}

#top-bar > #left-top > #top-dropdown> .dropdown >a {
	margin-left: 5px;
	border-color: #bababa;
	border-style: solid;
	border-width: 1px;
	
	color: white;
	font-weight: 600;
}

#top-bar > #left-top > #top-dropdown> .dropdown > a > .caret{
	margin-left: 20px;
	
}

#top-bar > #left-top > #top-button > *{
	display: inline-block;
	margin-left: 15px
}

#top-bar > #left-top > #top-button > #print-button{
	background-image: url(image_path('top/printericon.png'));
	width: 22px;
	height: 22px;
}

#top-bar > #left-top > #top-button > #delete-button{
	background-image: url(image_path('top/trashicon.png'));
	width: 23px;
	height: 22px;
}

#top-bar > #left-top > #top-button > #add-button{
	background-image: url(image_path('top/addicon.png'));
	width: 23px;
	height: 22px;
}

