// Place all the styles related to the WorkRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wr {
    .status {
        font-size: 4em;
        margin: 26px;

    }

    .left-attributes {
        display: inline-block;
        width: 500px;

    }

    .right-attributes {
        float: right;

    }
    
    .comment {
		height:40%;
		overflow-y:auto;
	}

	.comment-title {
		font-size: 2em;
	}

	.create-comment {
		float:right;
		width:200px;
		height:50px;
	}

	.comment table {
		width:100%;
	}

	.comment-table-header {
		width:15%;
	}
    

}

.sortable::after {
    content: '⬍';
}

.sort-asc::after {
    content: '▼';
}

.sort-desc::after {
    content: '▲';
}

