<!--fill in with names of boxes-->
<div id="bmet_item_details">


  <ul class="additional-details_nav">
    <li id ="comment-icon" class="active"><a href="#history" data-toggle="tab">History</a></li>    
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="history">    
      	<ul id='bmet_item_history_ul'>
          <%= render @bmet_item_histories %>
        </ul>
    </div>
  </div>
  <div class="additional-details_form-div">
  </div>

</div>






