#dashboard-header{
	height: 110px;
	width:100%;
	background-color:#ffffff;
	margin-left:240px;
	padding-left:50px;
	border-bottom: solid 2px #d8dfe5;

	form{
		height:100%;
		margin:0;
	}

	#dashboard-header-title{
		display:inline-block;
		margin-top:42px;
		font-size:20px;
		color:#4e515e;
		letter-spacing: 3px;
	}

	#dashboard-dates{
		display:inline-block;
	}

	.control-label{
		display:none;
	}

	#dashboard-submit-div{
		margin-top:18px;
	}

	.dashboard-submit{
		background-color:#ffffff;
		font-weight:900;
		font-size: 13px;
		border-left: solid 1px #d6d6d6;
		padding-top:2px;
		padding-bottom:2px;
		padding-left:15px;
	}

	.dashboard-submit:hover{
		color:#65d4c2;
	}

	#labor_hours-submit{
		border-right: solid 1px #d6d6d6;

	}

	.dropdown select {
	    border: 0 !important;.  /*Removes border*/
	    -webkit-appearance: none;  /*Removes default chrome and safari style*/
	    -moz-appearance: none;  /*Removes default style Firefox*/
	}

}

#dashboard-navigation{
	
}