$red:#e9593e;
$yellow:#ffc207;
$green:#55aa2b;
$gray:#4e4e4e;


*{
	font-family: Arial;
}

::-webkit-scrollbar{width:0;
z-index:1;}

body {
	
	height: 100%;
	width: 100%;
	min-width:800px;
}

.vertical-divider{
	border-left: thin solid #c7c7c7;
	height: 100%;
	width: 1px;
	float: left;
}



  /********************************************/
 /*                  TOP NAV                 */
/********************************************/

#top-bar {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: $gray;
	margin-left: 240px;
	z-index: 4;
}


  /********************************************/
 /*                 3-COL PAGE               */
/********************************************/

#left-nav{
	position:fixed;
	background-color: #77ccbf;
	height: 101%;
	width: 240px;
	z-index: 4;
}

#mid-summary{
	float: left;
	margin-left: 240px;
	width: 400px; 
	background-color: #f9f9f9;
	overflow-x: hidden;
}

#right-detail{
	float: none;
	width: 400px; 
	background-color: #f9f9f9;
	overflow-y: hidden;
}

.scrollable{
	padding-top: 60px;
	//padding instead of margin because height :100px includes padding but not margins
	//consequence is scrollbar is a little screwy
	height: 100%;
	font-size: 1em;
	z-index: 1;
	overflow: auto;
}

  /********************************************/
 /*                 LEFT NAV                 */
/********************************************/


#left-nav > * {
	margin: 0px;
}

#left-nav > #logo {
	background-image:url(image_path('logo.png'));
	background-size: 118px;
	background-position: center;
	background-repeat: no-repeat;

	width: 240px;
	height: 150px;
}

#app_type_label{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	color: white;
	background-color: #303030;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 1px;
}

#left-nav > #login {

	background-color: #64b1a5;

	width: 240px;
	height: 50px;
}

#left-nav > #left-nav_ul {
	
	padding: 0px;
	list-style: none;
}

#left-nav > #left-nav_ul > hr {
	color: #64b1a5;
	background-color: #64b1a5;
	float : left;

	padding: 0px;

	border: 0px;

	margin: 0px;

	width: 240px;
	height: 1px;

}

#left-nav > #left-nav_ul > a {
	margin: 0;
	padding: 0;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li {
	width: 240px;
	height: 60px;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li:hover {
	background-color: #2a7368;
}

.left_nav_icon {
	float: left;
	background-repeat: no-repeat;
	background-size: 12px;
	height: 13px;
	width: 13px;
	margin-left: 20px;
	margin-top: 24px;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > #work-order-icon{
	@extend .left_nav_icon;
	background-image: url(image_path('left/workorder.png'));
	
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > #preventative-maintenance-icon{
	@extend .left_nav_icon;
	background-image: url(image_path('left/preventativemaintenance.png'));	
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > #inbox-icon{
	@extend .left_nav_icon;
	background-image: url(image_path('left/inbox.png'));	
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > .wrapper{
	float: left;
	padding-left: 13px;

}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > .wrapper > .title {
	font-weight: 100;
	font-size: 12px;
	letter-spacing: .5px;

	margin-top: 22px;

	color: white;
}

#left-nav > #left-nav_ul > a > .left-nav_ul_li > .right-arrow {
	float: right;
	padding-right: 10px;
	padding-top: 28px;
}


#user_name{
	float:left;
	color:white;
	font-weight: 900;
	font-size: 20px;
}

#logout_button{
	float:left;
	margin-left: 145px;
}

#logout_button > a{
	font-size: 9px;
	color: white;
	margin: 0px;
	padding:0px;
	border:0px;
}

#bottom-buttons{
	margin-left: 20px;
	margin-top: 16px;
	margin-bottom:0px;
	float:left;
}

#bottom-buttons > a{
	padding:0;
	border:0;
}

#language-icons {
	margin-top: 20px;
	margin-left:65px;
}

#language-icons > a{
	margin-top:-3px;
	font-size: 10px;
	font-weight: 100;
	color: white;
	float:left;
	margin-right: 10px;
	padding:0;
	border:0;
}

/*   End   */



  /********************************************/
 /*                MID SUMMARY               */
/********************************************/

/* General */

#mid-summary_ul {
	margin: 0px;
	padding: 0px;
	list-style:none;

	a {
		text-decoration: none;

		.mid-summary_ul_li {
			height: 50px;
			width: 400px;

			.right-arrow{	
				float: right;
				padding-right: 10px;
				padding-top:22px;
			}

			.due_date > *{
				line-height: 13px;
			}
		}

		.mid-summary_ul_li:hover {
			background-color: #afafaf;
		}

		.mid-summary_ul_li > *{
			float:left; 
			display:inline
		}

		.mid-summary_ul_li_hr{
			color: #c7c7c7;
			background-color: #c7c7c7;
			position:relative;
			padding: 0px;
			border: 0px;
			margin: 0px;
			height: 1px;
		}
	}	

	.mid-summary_ul_li {

		.element_details{
			margin-left: 15px;
			
			.element_title{
				font-weight: bold;
				font-size: 12px;
				color: #5c5c5c;
				margin: 0px;
			}

			.element_requester{
				font-size: 10px;
				color: #a1a1a1;
				margin-top: -5px;
			}
			
			.element_owner{
				font-size: 10px;
				color: #a1a1a1;
				margin-top: -15px;
				margin-bottom: 0px;
			}

			.element_description{
				font-size: 10px;
				color: #a1a1a1;
				margin-top: -7px;
			}
		}

		.element_date{
			float: right;
			width: 45px;
			font-size: 12px;
			color: #a1a1a1;
			padding-top: 9px;
			margin-right: 10px;
			margin-left: 10px;
			text-align: center;
			color: #8b8b8b;
			font-weight: 800;

			.element_date_title{
				font-size: 6px;
				margin-bottom: -7px;
				color: #a1a1a1;
				font-weight: 300;
			}
		}
	}



}

@mixin status-bar($color){
	background-color: $color;
	height:50px;
	width:10px;
}
/*   Color Status Updates   */
.status-0{
	@include status-bar($red);
}
.status-1{
	@include status-bar($yellow);
}
.status-2{
	@include status-bar($green);
}

/* Work Order */
#mid_facility-work-order{
	.element_details{
		.element_title {
			padding-top: 4px;
		}
	}	
}

/* PM */
#mid_facility-preventative-maintenance{

	.element_details{
		.element_title {
			padding-top: 10px;
		}
	}
}
/* BMET ITEM */
#mid_bmet-item{

	.element_details{
		.element_title {
			padding-top: 10px;
		}
	}
}


/* Inbox */

#mid_facility-work-request{
	.bullet-bar{
		background-color: #a1a1a1;
		height: 120px;
		width: 10px;
	}

	#mid-summary_ul > a > .mid-summary_ul_li > .request_details{
		margin-left: 15px;

		.request_id{
			padding-top: 14px;
			font-weight: bold;
			font-size: 12px;
			color: #5c5c5c;
			margin: 0px;
		}
		.request_info{
			font-size: 11px;
			color: #5c5c5c;
			margin-top: -1px;
		}
		.request_description{
			font-size: 10px;
			color: #a1a1a1;
			margin-top: -8px;
			width: 80%;
		}
	}

	#mid-summary_ul > a > .mid-summary_ul_li {
		height: 120px;
		width: 400px;
	}

	#mid-summary_ul > a > .mid-summary_ul_li > .right-arrow{	
		float: right;
		padding-right: 10px;
		padding-top:58px;
	}

	#mid-summary_ul > a > .mid-summary_ul_li > .request_date{
		float: right;
		font-size: 12px;
		color: #a1a1a1;
		padding-top: 42px;
		margin-right: 10px;
		margin-left: 10px;
		text-align: center;
		color: #8b8b8b;
		font-weight: 800;
	}

	#mid-summary_ul > a > .mid-summary_ul_li > .pm_date > .work_date_title{
		font-size: 6px;
		margin-bottom: -7px;
		color: #a1a1a1;
		font-weight: 300;
	}

}






  /********************************************/
 /*               Right Detail               */
/********************************************/


/*     object form     */
	
#object-form_top{
	padding:20px 15px 20px 15px;
	height: 295px;

	#object-form-left{
		float: left;
		width: 55%;
		height: 130px;
		line-height: 12px;

		.field-box{
			width: 100%;
			height: 40px;
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			margin:-1px -5px 0px 0px;

			.field-type{

				float:left;
				font-size: 10px;
				color: #a7a7a7;
				padding-left: 10px;
				padding-top: 18px;

			}

			.field-info{
				float:left;
			   	overflow: hidden;
			   	background-color: #fff;
			   	padding-top:12px;
			   	padding-left:10px;
			   	font-size: 12px;

			   	#requester{
			   		padding-top:3px;
			   	}

				select{
					background: transparent;
					color: #000000;
				   	width: inherit;
				   	border: 0;
				   	border-radius: 0;
				   	height: 20px;
				   	-webkit-appearance: none;
				}
			}
		}

		.small{
			float: left;
			width:51%;
		}


	}

	#object-form-right{
		display: inline-block;
		margin-left: 2%;
		width:40%;
		height: 130px;
		#field-box_item-id{
			width: 100%;
			height: 40px;
			background-color: #323a45;
			border: 1px solid;
			border-radius: 2px;
			.item-id{
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				margin-left: 11px;
				margin-top: 11px;
			}
		}
		#object-status-field{
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			height: 25px;
			width: 100%;
			margin-bottom: 10px;

			select{
				text-transform: uppercase;
				text-align: center;
				margin-top: 3px;
				padding-left: 30px;
				padding-right:25px;
				border: 0px;
				font-size: 9px;
				background-color: transparent;
				float:left;
				-webkit-appearance: none;
			}

			a{
				float:left;
			}

			.object_form_icons {
				margin-top: 4px;
				margin-left: 4%;
				margin-right: 4%;

				float:right;

				
				background-size: 100%;
				width: 14px;
				height: 14px;
				display:block;
			}

			#print-button_right{
				@extend .object_form_icons;
				background-image: url(image_path('right/printericon.png'));
			}

			#archive-button_right{				
				@extend .object_form_icons;
				background-image: url(image_path('right/archiveicon.png'));				
			}
		}
		.actions{
			input[type=submit] {
				height: 40px;
				width: 100%;
				padding:5px 15px; 
				background:#77ccbf;
				border:0 none;
				cursor:pointer;
				-webkit-border-radius: 3px;
				border-radius: 5px; 

				color: white;
				letter-spacing: 1px;
				font-weight: 600;
				font-size: 15px;
			}
			input[type=submit]:hover{
				color: black;
			}
		}

	}

	#object-form-bottom{
		display: block;

		.field-box-date{
			float: left;
			width: 25%;
			height: 40px;
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			margin:-1px -5px 0px 0px;

			.field-type{

				font-size: 8px;
				color: #a7a7a7;
				padding-left: 10px;
				padding-top: 4px;
			}

			.field-info{
				width: 100%;
			   	height: 20px;
			   	overflow: hidden;
			   	background-color: #fff;
			   	margin-top:-6px;
				color: #000000;
				font-size: 10px;
				padding-left:10px;
				select{
					background: transparent;
				   	width: auto;
				   	border: 0;
				   	border-radius: 0;
				   	height: 20px;
				   	-webkit-appearance: none;
				}
			}

		}

		.field-box-description{
			float: left;
			width: 97%;
			height: 70px;
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			margin-top: 10px;

			.field-type{
				color: white;
				font-size: 8px;
				color: #a7a7a7;
				padding-left: 10px;
				padding-top: 7px;

			}

			.field-info{
				width: inherit;
			   	height: 20px;
			   	background-color: #fff;
			   	margin-top:-3px;
				textarea{
					background: transparent;
					color: #000000;
					font-size: 10px;
					margin-left:10px;
				   	width: inherit;
				   	border: 0;
				   	border-radius: 0;
				   	height: 40px;
				   	-webkit-appearance: none;
				   	resize: none;
				}
			}
		}
	}

	#object-form-single-col{
		float: left;
		height: 130px;
		line-height: 12px;
		width: 100%;

		#field-box_item-id{
			width: 100%;
			height: 40px;
			background-color: #323a45;
			border: 1px solid;
			border-radius: 2px;
			.item-id{
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				margin-left: 11px;
				margin-top: 11px;
			}
		}

		.actions{
			input[type=submit] {
				height: 40px;
				width: 100%;
				padding:5px 15px; 
				background:#77ccbf;
				border:0 none;
				cursor:pointer;
				-webkit-border-radius: 3px;
				border-radius: 5px; 

				color: white;
				letter-spacing: 1px;
				font-weight: 600;
				font-size: 15px;
			}
			input[type=submit]:hover{
				color: black;
			}
		}

		.field-box{
			background-color: #ffffff;
			border:1px solid;
			border-color: #f0f0f0;
			border-radius:2px;
			margin:0px -5px 0px 0px;

			.field-type{

				font-size: 12px;
				color: #a7a7a7;
				padding-left: 10px;
				padding-top: 7px;

			}

			.field-info{
			   	overflow: hidden;
			   	background-color: #fff;
			   	margin-top:0px;
				
				input, select, textarea{
					background: transparent;
					color: #000000;
					font-size: 12px;
					padding-left:10px;
				   	border: 0;
				   	border-radius: 0;
				   	-webkit-appearance: none;
				   	resize: none;
				}
				textarea{
					width: 100%;
					resize: none;
				}
				p {
					background: transparent;
					color: #000000;
					font-size: 12px;
					padding-left:10px;
				   	width: inherit;
				   	border: 0;
				   	border-radius: 0;
				   	-webkit-appearance: none;
				}
			}
			
		}
	}
}

/*     object add-info     */
#object_additional-details{
	background-color: $gray;
	overflow-y: scroll;
	position : relative;
	//http://stackoverflow.com/questions/14327104/any-way-for-positionabsolute-div-to-retain-relative-width

	.additional-details_nav{
		background-color: $gray;
		padding: 0px;
		margin: 0px;
		width:100%;
		height: 40px;
		li {
			float:left;
			a{
				display:block;
				width:40px;
				height:40px;
				color:#fff;
				outline:none;
				text-decoration:none;
				text-indent: -9999em;
			}
		}
		#detail-icon{
			background-image: url(image_path('right/detail_icon.png'));
		}
		#comment-icon{
			background-image: url(image_path('right/chat_icon.png'));
		}
		#cost-icon{
			background-image: url(image_path('right/cost_icon.png'));
		}
		#labor-icon{
			background-image: url(image_path('right/laborhours_icon.png'));
		}
	}

}

.transparent-form-elem {
	background: transparent;
	padding:2px;
	border: 0;
   	border-radius: 0;
   	-webkit-appearance: none;
}

.additional-detail_formstyle {
	float:left;
	textarea{
		@extend .transparent-form-elem;
		color: #ebebeb;
		font-size: 12px;
	   	width: 100%;		   	
	   	height: 50px;		   	
	   	resize: none;
	}
	input{
		@extend .transparent-form-elem;
		color: #ebebeb;
		font-size: 12px;
		width: 100%
	}
	select {
		@extend .transparent-form-elem;
		color: #ebebeb;
	}
}

.additional-details-box{
	width: 100%;
	@extend .additional-detail_formstyle;

	.field-type{
		color: white;
		font-weight: 700;
	}

}

.additional-details_content{
	padding-left : 10px;
}


.toggle-buttons{
	list-style: none;
	padding-left: 15px;
	margin-top: 14px;
	margin-bottom: 18px;
	li{
		float:left;
		margin-right: 8px;
	}
}

.additional-details_title{
	margin-top: 10px;
	margin-bottom:10px;
	font-size: 15px;
	font-weight:100;
	color: #bebebe;
}

#additional-details_comment_ul{
	color:#ebebeb;
	font-size:11px;
	list-style-type:none;
	padding:0;
	border:0;
	margin-left:0px;
	word-wrap : break-word;
	li{
		margin-bottom:7px;
	}
}

.facility_labor_hour, .facility_work_order_cost{
	height: 32px;
	width: 100%;
	line-height:32px;
	vertical-align:middle;
}

.cost-name{
	float:left;
	width: 30%;
	background-color: #479a1f;
	padding-left: 5px;
	font-weight: 800;
	font-size: 11px;
}

.cost-detail{
	float:left;
	width: 65%;
	background-color: white;
	color: black;
	font-size: 13px;

	.cost-quantity{
		display:inline-block;
		text-align: center;
		width: 15%;
	}
	.cost-cost{
		display:inline-block;
		text-align: center;
		width:25%;
	}
	.cost-total{
		display:inline-block;
		text-align: center;
		width: 25%;
	}
}

.labor_hour-technician{
	float:left;
	width: 30%;
	background-color: #479a1f;
	padding-left: 5px;
	font-weight: 800;
	font-size: 11px;
}

.labor_hour-detail {

	float:left;
	width: 65%;
	background-color: white;
	color: black;
	font-size: 13px;

	.labor_hour-date{
		display:inline-block;
		text-align: center;
		width: 45%;	
	}

	.labor_hour-duration{
		display:inline-block;
		text-align: center;
		width: 20%;
	}	
}



.additional-details_form-div{		
	position: absolute;
	bottom: 0px;
	right: 0px;
	width : 100%;
	color : #bebebe;
}



#additional-detail_cost_name{
	width:60%;		
	@extend .additional-detail_formstyle;
}

#additional-detail_cost_quantity{
	width:15%;
	@extend .additional-detail_formstyle;
}

#additional-detail_cost_amount{
	width:15%;
	@extend .additional-detail_formstyle;
}

#additional-detail_comment_descr{
	width:85%;
	@extend .additional-detail_formstyle;	
}

#additional-detail_labor_date {
	width:40%;
	@extend .additional-detail_formstyle;	
}

#additional-detail_labor_hours{
	width:20%;
	@extend .additional-detail_formstyle;	
}

#additional-detail_labor_tech{
	width:30%;
	@extend .additional-detail_formstyle;	
}

#labor_date-title{
	float: left;
	width: 40%
}
#labor_hour-title{
	float: left;
	width: 20%	;
}
#labor_technician-title{
	float: left;
	width: 30%
}

.additional-details_hr{
	height:1px;
	width:100%;
	border:0px;
	margin:0;
	padding:0;
	color: #bebebe;
	background-color: #bebebe;
}

.additional-detail_actions{	
	float:left;
	input{
		font-weight:100;
		border:0px !important;
	 	text-decoration:none !important;
	 	font-family:helvetica !important;
	 	color:#ebebeb !important;
	 	background:url(../images/btn_hover.png) repeat-x !important;
	}
}

.color-code-line{
	margin:0;
	padding:0;
	border:0;
	height:2px;
}

#created-line{
	color: $red;
	background-color: $red;
}

#started-line{
	color: $yellow;
	background-color:$yellow;
}

#expired-line{
	color:$gray;
	background:$gray;
}

#completed-line{
	color: $green;
	background-color:$green;
}




  /********************************************/
 /*              INTERACTION BAR             */
/********************************************/

#top-bar{
	color: #bababa;
}

#top-bar > #left-top{
	margin-top: 23px;
	margin-left: 15px;
	font-size: 11px;
	width: 100%;
}

#top-bar > #left-top > *{
	display: inline-block;
}

#top-bar > #left-top > #top-dropdown{
	display: inline-block;
	vertical-align: middle;
	padding-top: 1px;
}

#top-bar > #left-top > #top-dropdown > *{
	display: inline-block;
}

#top-bar > #left-top > #top-dropdown> .dropdown >a {
	border-color: #bababa;
	border-style: solid;
	border-width: 1px;
	
	color: white;
	font-weight: 600;
}

#top-bar > #left-top > #top-dropdown> .dropdown > a > .caret{
}

#top-bar > #left-top > #top-button > *{
	display: inline-block;
	margin-left: 15px
}

#top-bar > #left-top > #top-button > #print-button{
	background-image: url(image_path('top/printericon.png'));
	width: 22px;
	height: 22px;
}

#top-bar > #left-top > #top-button > #archive-button{
	background-image: url(image_path('top/archiveicon.png'));
	width: 23px;
	height: 22px;
}

#top-bar > #left-top > #top-button > #add-button{
	background-image: url(image_path('top/addicon.png'));
	width: 23px;
	height: 22px;
}



//Dashboard

#dashboard {
	float: left;
	padding-left: 240px;
	width:100%;
}

#dash_table{
	width:300px;
}

.sum_costs{
	font-weight:bold;
}
#params_to_send {
	display: none;
}
