#settings-header{
	height: 110px;
	width:100%;
	background-color:#ffffff;
	margin-left:240px;
	padding-left:50px;
	border-bottom: solid 2px #d8dfe5;

	#settings-header-title{
		display:inline-block;
		margin-top:42px;
		font-size:20px;
		color:#4e515e;
		letter-spacing: 3px;
	}

	#settings-submit-div{
		margin-top:18px;
	}

	.settings-submit{
		background-color:#ffffff;
		font-weight:900;
		font-size: 13px;
		border-left: solid 1px #d6d6d6;
		padding-top:2px;
		padding-bottom:2px;
		padding-left:15px;
	}

	.settings-submit:hover{
		color:#65d4c2;
	}

}

#settings-navigation{
	
}

#create-user-form{
	margin-left: 240px;
	width: 50%;
}

#create-departments-form{
	margin-left: 240px;
	width: 50%;
}

#current-list-header {
	
}