<header id="left-nav">
  <div id="logo"></div>
  <div id="login"></div>
  <ul id="left-nav_ul">
    <hr>
    <li class="left-nav_ul_li">
      <div id="work-order-icon"></div>
      <div class="wrapper">
        <div class="title">
          Work Order
        </div>
      </div>
      <%= image_tag("left/rightarrow.png", class: "right-arrow") %>
    </li>
    <hr>
    <li class="left-nav_ul_li">
      <div id="preventative-maintenance-icon"></div>
      <div class="wrapper">
        <div class="title">
          Preventative Maintenance
        </div>
      </div>
      <%= image_tag("left/rightarrow.png", class: "right-arrow") %>
    </li>
    <hr>
    <li class="left-nav_ul_li">
      <div id="inbox-icon"></div>
      <div class="wrapper">
        <div class="title">
          Inbox
        </div>
      </div>
      <%= image_tag("left/rightarrow.png", class: "right-arrow") %>
    </li>
    <hr>
  </ul>
</header>